.Gameboard {
    position: fixed;
    top: 7vh;
    left: 2.5vw;
    height: 86vh;
    width: 95vw;
    z-index: 950;
    background-color: white;
    border-style: solid;
    border-width: 0.2vmin;
}